.screen {
    width: 100vw;
    height: 100vh;
    /* background-color: green; */
}

.title {
    width: 100%;
    height: 10%;
    background-color: #121212;
}

.wordBoard {
    width: 100%;
    height: 50%;
    background-color: #121212;
}

.wordKeyboard {
    width: 100%;
    height: 40%;
    background-color: black;
}